In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
train = pd.read_csv("train.csv")
train = sk.utils.shuffle(train)
train.shape

(112500, 11)

In [2]:
train.fillna(-11, inplace=True)
sep = 80000
train4 = train[:sep]
test4 = train[sep:]

In [3]:
test4.head(4)

,плохой_клиент,линии,возраст,поведение_30-59_дней,Debt_Ratio,доход,число_кредитов,поведение_90_дней,недвижимость,поведение_60-89_дней,семья
54300,0,1.000000,27,0,0.281658,1760.0,5,0,0,0,0.0
56311,0,0.020195,80,0,24.000000,-11.0,3,0,0,0,-11.0
51532,0,0.142471,59,0,0.545685,4333.0,8,0,1,0,0.0
4654,1,0.986575,47,1,3205.000000,-11.0,9,5,1,3,0.0

In [4]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10)
test_target = test4.pop("плохой_клиент")
train_target = train4.pop("плохой_клиент")
rf.fit(train4, train_target)
ans = rf.predict(test4)

In [5]:
num = 0
test_target = list(test_target)
for i in range(len(ans)):
    if int(ans[i]) == int(test_target[i]):
        num += 1
print(num / len(ans))

0.9294153846153846

numpy.ndarray