In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
train = pd.read_csv("train.csv")
train = sk.utils.shuffle(train)
train.shape

(112500, 11)

In [2]:
train.fillna(-11, inplace=True)
sep = 80000
train4 = train[:sep]
test4 = train[sep:]

In [3]:
test4.head(4)

,плохой_клиент,линии,возраст,поведение_30-59_дней,Debt_Ratio,доход,число_кредитов,поведение_90_дней,недвижимость,поведение_60-89_дней,семья
107252,0,0.924415,38,0,0.274227,3332.0,6,0,0,0,3.0
63206,0,0.000000,40,0,0.431785,4800.0,10,0,1,0,3.0
77744,0,0.000000,84,0,0.000000,3006.0,3,0,0,0,0.0
109845,0,0.493904,53,0,6867.000000,-11.0,12,0,3,0,0.0

In [4]:
from sklearn.svm import SVC
test_target = test4.pop("плохой_клиент")
train_target = train4.pop("плохой_клиент")
svm = SVC(kernel='rbf')
svm.fit(train4, train_target)
ans = svm.predict(test4)

/home/rt2122/miniconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [5]:
num = 0
test_target = list(test_target)
for i in range(len(ans)):
    if int(ans[i]) == int(test_target[i]):
        num += 1
print(num / len(ans))

0.9317230769230769