In [1]:
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import make_blobs
import pylab
import time
####
from mylib import *
####

tests = [(100, 3), (1000, 4), (900, 3), (1400, 6), (5000, 8), (600, 5), (1999, 7)]
times = []
accurs = []
for i in range(len(tests)):
    x, _ = make_blobs(n_samples = tests[i][0], n_features = 2, centers = tests[i][1], random_state = 4)
    true_time = time.time()
    true_cl = KMeans(n_clusters = tests[i][1], random_state = 4).fit_predict(x)
    true_time = time.time() - true_time
    t = time.time()
    ####
    cl, _, _ = KMeans4(x, k = tests[i][1], strat = "plusplus")
    ####
    t = time.time() - t
    times.append(t / true_time)
    overl = list(true_cl == cl).count(True)
    accurs.append(str(((overl / tests[i][0]) * 100))[)
table = {"Time": times}
pd.DataFrame(table, index = tests)

                Time
(100, 3)    0.181941
(1000, 4)   4.268314
(900, 3)    3.049484
(1400, 6)   6.183934
(5000, 8)  46.470090
(600, 5)    2.179801
(1999, 7)  12.978387